server:
  port: 8080
spring:
  application:
    name: {{ spring.application.name }}
  datasource:
    url: {{ datasource.url }}
    username: {{ datasource.username }}
    password: {{ datasource.password }}
    driverClassName: org.postgresql.Driver
  jackson:
    default-property-inclusion: NON_NULL
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: {{ security.oauth2.resourceserver.jwt.issuer-uri}}
  jpa:
    properties:
      hibernate:
        default_schema: {{ jpa.properties.hibernate.default_schema }}
gate:
  owner: {{ gate.owner }}
  ap:
    url: {{ gate.ap.url }}
    username: {{ gate.ap.username }}
    password: {{ gate.ap.password }}

batch:
  retry:
    cron: {{ batch.retry.cron }}
    time: {{ batch.retry.time }}
    size: {{ batch.retry.size }}

springdoc:
  swagger-ui:
    enabled: {{ springdoc.swagger-ui.enabled }}
  api-docs:
    enabled: {{ springdoc.api-docs.enabled }}
