server:
  port: 8080
spring:
  application:
    name: {{ spring.application.name }}
  datasource:
    url: {{ spring.datasource.url }}
    username: {{ spring.datasource.username }}
    password: {{ spring.datasource.password }}
    driverClassName: org.postgresql.Driver
  jackson:
    default-property-inclusion: NON_NULL
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: {{ spring.security.oauth2.resourceserver.jwt.issuer_uri}}
  jpa:
    properties:
      hibernate:
        default_schema: "{{ spring.jpa.properties.hibernate.default_schema }}"
gate:
  owner: {{ gate.owner }}
  ap:
    url: {{ gate.ap.url }}
    username: {{ gate.ap.username }}
    password: {{ gate.ap.password }}

batch:
  retry:
    cron: "{{ batch.retry.cron }}"
    time: {{ batch.retry.time }}
    size: {{ batch.retry.size }}

springdoc:
  swagger-ui:
    enabled: {{ springdoc.swagger_ui.enabled }}
  api-docs:
    enabled: {{ springdoc.api_docs.enabled }}
