server:
  port: 8080
spring:
  application:
    name: {{ spring.application.name }}
  main:
    banner-mode: off
  output:
    ansi:
      enabled: always
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: {{ spring.security.oauth2.resourceserver.jwt.issuer_uri}}

gate:
  minSleep: {{ gate.minSleep }}
  maxSleep: {{ gate.maxSleep }}
  owner: {{ gate.owner }}
  cda_path: {{ gate.cda_path }}
  gate: {{ gate.gate }}
  ap:
    url: {{ gate.ap.url }}
    username: {{ gate.ap.username }}
    password: {{ gate.ap.password }}

management:
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
      probes:
        enabled: true
    metrics:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: info,health,metrics